<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Reservation Confirmation</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/images/gamesuitelogo.png">
  <style>
    body {
      text-align: center;
      background-color: #778dfc;
      font-family: 'Kanit', sans-serif;
      color: white;
      margin: 0;
      padding: 0;
    }

    .logo-container {
      position: absolute;
      top: 0px;
      left: 0px;
    }

    .logo {
      width: 250px;
      height: auto;
    }

    .header-image {
      width: 500px;
      margin: 30px auto 10px auto;
      display: block;
    }

    h1 {
      margin-top: 100px;
      font-size: 2.5rem;
    }

    .confirmation-details {
      font-size: 1.8rem;
      margin-top: 40px;
    }

    .back-image {
      display: block;
      margin: 80px auto 0 auto;
      width: 150px;
      position: absolute;
      right: 30px;
      bottom: 30px;
      transition: transform 0.3s;
    }

    .back-image:hover {
      transform: scale(1.1);
    }
  </style>
</head>

<body>

  <div class="logo-container">
    <img src="/images/gamesuitelogoleft.png" alt="Game Suite Logo" class="logo" />
  </div>

  <img src="/images/roomreservationheader.png" alt="Room Reservation Header" class="header-image">

  <h1>Reservation Confirmation</h1>

  <div class="confirmation-details">
    <p>Total Cost: Rp <%= totalCost.toLocaleString() %></p>
    <p>Payment Method: <%= paymentMethod %></p>
    <p>Please proceed with the payment to confirm your reservation.</p>
    <img src="/images/qrcodeprototype.png" alt="QR Code" style="margin-top: 20px; width: 250px;">
  </div>

  <a href="/dashboard">
    <img src="/images/backbutton.png" alt="Back" class="back-image">
  </a>

</body>

</html>

<!-- Property of Marco - https://github.com/MarcoBenedictus -->